<!DOCTYPE html>
<html>

<head>
    <title>Request Auctions</title>
    <style>
        body {
            display: grid;
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        a {
            text-decoration: none;
            color: #007BFF;
        }

        a:hover {
            text-decoration: underline;
        }

        .btn {
            padding: 8px 20px;
            font-size: 16px;
            border: none;
            border-radius: 4px;
            margin-right: 10px;
            cursor: pointer;
            color: #fff;
        }

        .btn.pending {
            background-color: #007BFF;
        }

        .btn.accepted {
            background-color: #28A745;
        }

        .btn.rejected {
            background-color: #DC3545;
        }

        .btn.add {
            background-color: #7a4ffb;
        }

        .btn.added {
            background-color: #DC3545;
        }

        .btn.create {
            text-align: center;
            align-items: center;
            width: 25%;
            size: 55px;
            background-color: #007BFF;

        }

        .btn.evaluated {
            background: #007BFF;
        }

        input[type="date"] {
            padding: 8px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <h1>Auction Requests </h1>
    <div>
        <button class="btn pending" onclick="filterTable('pending')">Pending</button>
        <button class="btn accepted" onclick="filterTable('accepted')">Accepted</button>
        <button class="btn rejected" onclick="filterTable('rejected')">Rejected</button>
    </div>
    <table id="auctionsTable">
        <caption>
            <h1>Cars</h1>
        </caption>
        <thead>
            <tr>
                <th>User </th>
                <th>Car ID</th>
                <th>User kind</th>
                <th>Status</th>
                <th>evaluated</th>
                <th>Add to Auction</th>
            </tr>
        </thead>
        <tbody>
            {% for request_auction in auctions_request%}
            <tr>
                <td>{{ request_auction.user_id }}</td>
                <td>{{ request_auction.car_id.pk }}</td>
                <td>{{ request_auction.user_id.user_kind}}</td>
                <td>{{ request_auction.status }}</td>
                <td>
                    {% if request_auction.car_id.price > '0' %}
                    {{request_auction.car_id.price}}

                    {%else%}
                    <button onclick="Evaluation(this, '{{ request_auction.car_id.pk }}')"
                        class="btn evaluated">Evaluation</button>
                    {%endif%}
                </td>
                <td>
                    {% if request_auction.status == 'pending' and request_auction.car_id.price > '0' %}
                    <button onclick="AcceptAuction(this, '{{ request_auction.car_id.pk }}')"
                        class="btn add">Add</button>
                    {%else%}
                    -
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
        <br>
    </table>

    <br>
    <br>

    <table id="auctionsTable">
        <caption>
            <h1>Auctions</h1>
            <input type="button" class="btn add" value="add auction"
                onclick="window.location.href='http://localhost:8000/admin/auction/auction/add/'">
            <br>
            <br>
        </caption>
        <thead>
            <tr>
                <th>id</th>
                <th>date</th>
                <th>time</th>
                <th>status</th>
                <th>kind</th>
                <th>notebook_conditions</th>
                <th>select auction</th>
            </tr>
        </thead>
        <tbody>
            {%for auction in auctions%}
            <tr>
                <td>{{auction.id}}</td>
                <td>{{auction.date}}</td>
                <td>{{auction.time}}</td>
                <td>{{auction.status}}</td>
                <td>{{auction.kind}}</td>
                <td>{{auction.notebook_conditions}}</td>
                <td>
                    <input type="radio" name="selected_auction" value="{{ auction.id }}" id="auction_{{ auction.id }}">
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <br><br><br>
    <button onclick="AddCarsToAuction()" class=" btn create">Add</button>


    <script>
        var selectedAuctionID = null;
        var car_has_evaluated = [];
        document.addEventListener("DOMContentLoaded", function () {
            const radioButtons = document.querySelectorAll('input[name="selected_auction"]');

            radioButtons.forEach(function (radioButton) {
                radioButton.addEventListener("click", function () {
                    selectedAuctionID = this.value;
                    console.log("Selected Auction ID:", selectedAuctionID);
                });
            });
        });
        function filterTable(status) {
            var table, tr, td, i, txtValue;
            table = document.getElementById("auctionsTable");
            tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3]; // Index 2 is the status column
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.trim() === status) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function Evaluation(button, car_id) {
            console.log(car_id);

            // Disable the main window
            button.disabled = true;

            // Call the API endpoint to fetch the car data
            fetch(`http://localhost:8000/car/${car_id}/`)
                .then(response => response.json())
                .then(data => {
                    // Create a new window
                    const newWindow = window.open('', '_blank', 'width=500,height=600');

                    // Create an HTML table to display the car data
                    const table = newWindow.document.createElement('table');
                    table.style.borderCollapse = 'collapse';
                    table.style.width = '100%';

                    // Function to create table rows
                    const createTableRow = (label, value) => {
                        const row = newWindow.document.createElement('tr');

                        const labelCell = newWindow.document.createElement('td');
                        labelCell.textContent = label;
                        labelCell.style.border = '1px solid black';
                        labelCell.style.padding = '5px';
                        labelCell.style.fontWeight = 'bold';

                        const valueCell = newWindow.document.createElement('td');
                        valueCell.textContent = value;
                        valueCell.style.border = '1px solid black';
                        valueCell.style.padding = '5px';

                        row.appendChild(labelCell);
                        row.appendChild(valueCell);

                        return row;
                    };
                    console.log(data);
                    // Populate the table with the car data
                    table.appendChild(createTableRow('ID', data.id));
                    table.appendChild(createTableRow('car brand', data.car_brand));
                    table.appendChild(createTableRow('car model', data.car_model));
                    table.appendChild(createTableRow('clean title', data.clean_title));
                    table.appendChild(createTableRow('cylinders', data.cylinders));
                    table.appendChild(createTableRow('damage', data.damage));
                    table.appendChild(createTableRow('drive type', data.drive_type));
                    table.appendChild(createTableRow('engine capacity', data.engine_capacity));
                    table.appendChild(createTableRow('engine type', data.engine_type));
                    table.appendChild(createTableRow('gear type', data.gear_type));
                    table.appendChild(createTableRow('manufacturing year', data.manufacturing_year));
                    table.appendChild(createTableRow('mileage', data.mileage));
                    table.appendChild(createTableRow('notes', data.notes));
                    table.appendChild(createTableRow('type', data.type));
                    table.appendChild(createTableRow('country name', data.country_name));
                    table.appendChild(createTableRow('province name', data.province_name));
                    // Add more table rows for other car data properties...

                    // Append the table to the new window
                    newWindow.document.body.appendChild(table);

                    // Add a button in the new window
                    const br1 = newWindow.document.createElement('br');
                    const price = newWindow.document.createElement('input');
                    const evaluationButton = newWindow.document.createElement('button');
                    price.type = 'number'
                    evaluationButton.innerText = 'evaluation';
                    evaluationButton.addEventListener('click', () => {
                        if (price.value > 0) {
                            fetch(`http://localhost:8000/evaluation_car/${car_id}/${price.value}`)
                                .then(response => response.json())
                                .then(data => { console.log(price.value) });
                            // Enable the main window when the new window is closed
                            console.log('cloooooooose')
                            newWindow.close();
                            location.reload();
                            button.disabled = false;
                        }
                        else { newWindow.alert('enter evaluation car  !!!!') }
                    });
                    newWindow.document.body.appendChild(br1);
                    newWindow.document.body.appendChild(price);
                    newWindow.document.body.appendChild(evaluationButton);

                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while fetching car data');
                    // Enable the main window in case of an error
                    button.disabled = false;
                });
        }
        var cars = new Set(); // Create an empty Set
        function AcceptAuction(button, car_id) {
            if (cars.has(car_id)) {
                // Car already in the Set, remove it and revert button style
                cars.delete(car_id);
                button.innerText = "Add";
                button.classList.remove("added");
            } else {
                // Car not in the Set, add it and change button style
                cars.add(car_id);
                button.innerText = "Remove";
                button.classList.add("added");
            }
            console.log(cars);
        }
        function AddCarsToAuction() {
            if (selectedAuctionID == null) {
                alert('pleass select auciton')
                return
            } if (cars.size == 0) {
                alert('pleass select cars to add')
                return
            }

            const selectedCarsArray = Array.from(cars);
            const requestData = {
                auction_id: selectedAuctionID,
                cars_id: selectedCarsArray,
            };
            fetch('/add_cars_to_auction', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}', // Use the CSRF token from Django
                },
                body: JSON.stringify(requestData),
            })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    location.reload();
                    // Perform any additional actions or updates after the request is successful
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while adding cars to auction');
                });
        }
    </script>
</body>

</html>